<div class="jumbotron">
	<h1><i class="fa fa-bomb"></i><i class="fa fa-bomb"></i><i class="fa fa-bomb"></i>...</h1>
	<p>Blah blah blah</p>
	<% if !current_user %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>
</div>